@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
}

body {
  min-width: 320px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ded1d1;
  text-shadow: 1px 1px 1px #000;
  font-size: 35px;
}

.day {
  background-image: url("img/BG_grass_day.webp"), url("img/BG_sky_day.webp");
  -webkit-transition: 1s;
  transition: 1s;
}

.night {
  background-image: url("img/BG_grass_night.webp"), url("img/BG_sky_night.webp");
  -webkit-transition: 1s;
  transition: 1s;
}

.wrapper {
  max-width: 1200px;
  padding: 0 50 50px;
  margin: 0px auto;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

.wrapper h1 {
  margin-bottom: 70px;
  font-size: 90px;
  color: #cf3e09;
  text-shadow: 2px 2px 2px #0c3304;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.settings .session-conteiner, .settings .break-conteiner {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings .session-conteiner h2, .settings .break-conteiner h2 {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin-bottom: 30px;
  color: #f14a0d;
}

.settings .session-conteiner .text, .settings .break-conteiner .text {
  width: 300px;
  padding: 15px 40px;
  margin: 20px;
  border-radius: 30px;
  white-space: nowrap;
  background: -webkit-gradient(linear, right top, left top, from(#ad1515), to(#f67043));
  background: linear-gradient(right, #ad1515, #f67043);
}

.settings .session-conteiner .btn__length, .settings .break-conteiner .btn__length {
  width: 60px;
  height: 60px;
  border: none;
  background: none;
  background-size: cover;
}

.settings .session-conteiner .btn__length.down, .settings .break-conteiner .btn__length.down {
  background-image: url(img/arrow_down.png);
}

.settings .session-conteiner .btn__length.up, .settings .break-conteiner .btn__length.up {
  background-image: url(img/arrow_up.png);
}

.timers__wrapper {
  margin-top: 50px;
}

.timers__wrapper h2 {
  font-size: 70px;
  color: #f14a0d;
  text-shadow: 2px 1px 2px #0c3304;
}

.timers__wrapper .clock {
  margin: 80px auto 0;
  background: yellow;
  max-width: 400px;
  padding: 15px 30px;
  border-radius: 25px;
  background: -webkit-gradient(linear, right top, left top, from(#ad1515), to(#f67043));
  background: linear-gradient(right, #ad1515, #f67043);
}

.buttons {
  position: relative;
  margin: 70px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buttons .start, .buttons .pause, .buttons .refresh {
  margin: 20px 15px;
  padding: 5px 70px;
  background: #b52525;
  color: white;
  text-shadow: 1px 1px 1px #000;
  font-size: 40px;
  border: 2px solid #651c16;
  border-radius: 25px;
}

.buttons .push_start {
  background: #9CC55A;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttons .start:hover {
  background: #9CC55A;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.buttons .push_pause {
  background: #e4cc48;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttons .pause:hover {
  background: #e4cc48;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttons .refresh:hover {
  background: #a01313;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 55px;
}

.modal__wrapper .modal__content {
  position: relative;
  width: 500px;
  height: 400px;
  margin: 200px auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#a58c0d), to(#ca5c17));
  background: linear-gradient(#a58c0d, #ca5c17);
  border: 1px solid black;
}

.modal__wrapper .modal__text {
  margin-top: 10px;
  max-width: 600px;
  max-height: 400px;
}

.modal__wrapper .modal__ok {
  position: absolute;
  bottom: 10%;
  left: 33%;
  padding: 10px 60px;
  margin-top: 50px;
  background: #93ba5f;
  color: white;
  text-shadow: 1px 1px 1px #000;
  font-size: 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 3px -3px 3px 0px #42705D;
          box-shadow: 3px -3px 3px 0px #42705D;
}

.pomodoros__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 190px;
  margin: 100px auto 0;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.tractor_day {
  background-image: url("img/tractor_day.webp");
  -webkit-transition: background 1s;
  transition: background 1s;
}

.tractor_night {
  background-image: url("img/tractor_night.webp");
  -webkit-transition: background 1s;
  transition: background 1s;
}

.pomodoro {
  max-height: 80px;
  width: 80px;
  margin-top: -30px;
}

.pomodoro:nth-child(2) {
  margin-left: 40px;
}

.pomodoro:nth-child(5) {
  margin-left: 60px;
}

.pomodoro:nth-child(8) {
  margin-left: 60px;
}

.circles {
  position: absolute;
  top: -100px;
  right: 110px;
  color: red;
  padding: 15px 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ad1515), to(#e07620));
  background: linear-gradient(top, #ad1515, #e07620);
  border-radius: 15px;
  color: #fff;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */