@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

//========== Body

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
}


body {
    min-width: 320px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(222, 209, 209);
    text-shadow: 1px 1px 1px #000;
    font-size: 35px;
}

.day {
   background-image: url("img/BG_grass_day.webp"), url("img/BG_sky_day.webp");
   transition: 1s;
}

.night {
    background-image: url("img/BG_grass_night.webp"), url("img/BG_sky_night.webp");
    transition: 1s;
}

//========== Settings

.wrapper {
    max-width: 1200px;
    padding: 0 50 50px;
    margin: 0px auto;
    text-align: center;
    text-shadow: 1px 1px 1px #000;

    & h1 {
        margin-bottom: 70px;
        font-size: 90px;
        color:rgb(207, 62, 9);
        text-shadow: 2px 2px 2px rgb(12, 51, 4);
    }
}

.settings {
        display: flex;

        & .session-conteiner, .break-conteiner {
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            flex: 1 0 33%;
            justify-content: center;
            align-items:center;

            & h2 {
                flex:100%;
                margin-bottom: 30px;
                color:rgb(241, 74, 13);

            }

            & .text {
                width: 300px;
                padding: 15px 40px;
                margin: 20px;
                border-radius: 30px;
                white-space: nowrap;
                background: linear-gradient(right, rgb(173, 21, 21), rgb(246, 112, 67));
            }

            & .btn__length {
                width: 60px;
                height: 60px;
                border:none;
                background:none;
                background-size:cover;

                &.down {
                    background-image: url(img/arrow_down.png);
                }

                &.up {
                    background-image: url(img/arrow_up.png);
                }
            }
        }
    }

//========== Active Timers

.timers__wrapper {
    margin-top: 50px;

    & h2 {
        font-size: 70px;
        color:rgb(241, 74, 13);
        text-shadow: 2px 1px 2px rgb(12, 51, 4);
    }

    & .clock {
        margin: 80px auto 0;
        background:yellow;
        max-width: 400px;
        padding: 15px 30px;
        border-radius:25px;
        background: linear-gradient(right, rgb(173, 21, 21), rgb(246, 112, 67));
    }
}

//========== Buttons

.buttons {
    position: relative;
    margin: 70px auto 0;
    display: flex;
    justify-content: center;
    align-items:center;
    max-width: 600px;
    flex-wrap: wrap;

    & .start, .pause, .refresh {
        margin: 20px 15px;
        padding: 5px 70px;
        background:rgb(181, 37, 37);
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 1px #000;
        font-size: 40px;
        border: 2px solid #651c16;
        border-radius:25px;
    }

    & .push_start {
        background: #9CC55A;
        transition: 0.3s;
    }

    & .start:hover {
        background: #9CC55A;
        transition: 0.2s;
    }

    & .push_pause {
        background: rgb(228, 204, 72);
        transition: 0.3s;
    }

    & .pause:hover {
        background: rgb(228, 204, 72);
        transition: 0.3s;
    }

    & .refresh:hover {
        background: #a01313;
        transition: 0.2s;
    }
}



//========== Modal



.modal__wrapper {
    position:fixed;
    top:0;
    left:0;
    z-index:1050;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:rgba(0,0,0,.5);
    font-size: 55px;

    & .modal__content {
        position: relative;
        width: 500px;
        height: 400px;
        margin: 200px auto;
        background:linear-gradient(rgb(165, 140, 13),rgb(202, 92, 23));
        border: 1px solid black;
    }

    & .modal__text {
        margin-top: 10px;
        max-width: 600px;
        max-height: 400px;
    }

    & .modal__ok {
        position: absolute;
        bottom: 10%;
        left: 33%;
        padding: 10px 60px;
        margin-top: 50px;
        background: rgb(147, 186, 95);
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 1px #000;
        font-size: 25px;
        border:none;
        border-radius:20px;
        cursor:pointer;
        box-shadow: 3px -3px 3px 0px #42705D;
    }
}

//==========Pomodoros

.pomodoros__container {
    position: relative;
    display: flex;
    width: 100%;
    height: 190px;
    margin: 100px auto 0;
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.tractor_day {
    background-image: url("img/tractor_day.webp"); 
    transition: background 1s;
}

.tractor_night {
   background-image: url("img/tractor_night.webp");
   transition: background 1s;
}

.pomodoro {
    max-height: 80px;
    width: 80px;
    margin-top: -30px;
}

.pomodoro:nth-child(2) {
    margin-left: 40px;
}

.pomodoro:nth-child(5) {
    margin-left: 60px;
}

.pomodoro:nth-child(8) {
    margin-left: 60px;
}


.circles {
    position: absolute;
    top: -100px;
    right: 110px;
    color:red;
    padding: 15px 30px;
    background: linear-gradient(top, rgb(173, 21, 21), rgb(224, 118, 32));
    border-radius:15px;
    color: #fff;
}



// Others

.hide {
    display: none;
}

.show {
    display: inline-block;
}

